.p-Home.Flex2 {
display: flex;
height: 92px;
padding-top: 20px;
padding-bottom: 30px;
background-color: ;
align-items: center;
justify-content: space-around;
box-sizing: border-box;
}
.p-Home.Flex3 {
display: flex;
height: 33px;
width: 631px;
justify-content: space-between;
align-content: center;
background-color: ;
align-items: center;
}
.p-Home.Flex5 {
display: flex;
width: 357px;
height: 23px;
align-items: center;
justify-content: space-between;
font-size: 18px;
color: #696969;
}
.p-Home.Div11 {
height: 100%;
width: 50px;
}
.p-Home.Div12 {
width: 50px;
height: 23px;
}
.p-Home.Div9 {
width: 233px;
height: 100%;
background-image: ;
background-attachment: scroll;
background-origin: border-box;
background-clip: border-box;
-webkit-background-clip: border-box;
float: none;
clear: none;
background-repeat: round;
text-align: left;
}
.p-Home.Flex4 {
display: flex;
align-items: center;
justify-content: space-between;
width: 300px;
height: 42px;
background-color: ;
}
.p-Home.Flex6 {
display: flex;
align-items: center;
justify-content: space-between;
height: 475px;
box-sizing: border-box;
width: 100%;
}
.p-Home.Flex7 {
display: flex;
flex-direction: row;
align-items: center;
width: 67%;
height: 100%;
background-color: ;
padding-top: 100px;
padding-left: 150px;
justify-content: flex-end;
box-sizing: border-box;
}
.p-Home.Flex10 {
display: flex;
width: 100%;
height: 100%;
background-color: ;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
}
.p-Home.Flex11 {
display: flex;
height: 128px;
flex-direction: column;
}
.p-Home.Flex13 {
display: flex;
margin-top: 20px;
width: 300px;
align-items: center;
justify-content: space-between;
}
.p-Home.Div15 {
height: 100%;
box-sizing: border-box;
width: 33%;
background-color: #FF7629;
position: relative;
}
.p-Home.Div17 {
width: 480px;
height: 475px;
position: absolute;
top: 0;
right: 201px;
background-position-x: ;
background-position-y: 0px;
background-color: ;
padding-top: 40px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
box-sizing: border-box;
}
.p-Home.Flex14 {
display: flex;
height: 156px;
flex-direction: column;
align-items: center;
justify-content: flex-end;
padding-top: 75px;
box-sizing: border-box;
}
.p-Home.Flex15 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
height: 100%;
box-sizing: border-box;
}
.p-Home.Flex16 {
display: flex;
width: 782px;
height: 34px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex17 {
display: flex;
height: 802px;
width: 100%;
padding-top: 150px;
padding-bottom: 100px;
box-sizing: border-box;
}
.p-Home.Flex18 {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex19 {
display: flex;
width: 1069px;
height: 397px;
background-color: #ffffff;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}
.p-Home.Flex20 {
display: flex;
width: 244px;
height: 100%;
box-sizing: border-box;
padding-top: 40px;
padding-bottom: 40px;
border-width: 2px;
border-style: solid;
border-color: #CECECE;
border-radius: 15px;
}
.p-Home.Flex21 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-left: 30px;
padding-right: 10px;
}
.p-Home.Flex23 {
display: flex;
width: 244px;
height: 100%;
box-sizing: border-box;
padding-top: 40px;
padding-bottom: 40px;
border-width: 2px;
border-style: solid;
border-color: #CECECE;
border-radius: 15px;
}
.p-Home.Flex22 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-left: 30px;
padding-right: 10px;
}
.p-Home.Flex29 {
display: flex;
width: 244px;
height: 100%;
box-sizing: border-box;
padding-top: 40px;
padding-bottom: 40px;
border-width: 2px;
border-style: solid;
border-color: #CECECE;
border-radius: 15px;
}
.p-Home.Flex28 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-left: 30px;
padding-right: 10px;
}
.p-Home.Flex31 {
display: flex;
width: 244px;
height: 100%;
box-sizing: border-box;
padding-top: 40px;
padding-bottom: 40px;
border-width: 2px;
border-style: solid;
border-color: #CECECE;
border-radius: 15px;
}
.p-Home.Flex30 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-left: 30px;
padding-right: 10px;
}
.p-Home.Flex34 {
display: flex;
width: 318px;
height: auto;
justify-content: space-between;
}
.p-Home.Div20 {
height: 876px;
width: 100%;
padding-top: 150px;
padding-left: 150px;
box-sizing: border-box;
background-color: #FFF9F3;
}
.p-Home.Flex36 {
display: flex;
height: 100%;
justify-content: space-between;
align-items: flex-start;
}
.p-Home.Flex37 {
display: flex;
height: 526px;
width: 45%;
}
.p-Home.Div21 {
width: 460px;
position: relative;
}
.p-Home.Flex41 {
display: flex;
width: 420px;
height: 293.6px;
background-color: #ffffff;
position: absolute;
z-index: 1;
border-radius: 25px;
top: 330px;
bottom: 0;
left: 150px;
padding-top: 50px;
padding-right: 20px;
padding-bottom: 50px;
padding-left: 50px;
box-sizing: border-box;
}
.p-Home.Flex42 {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex54 {
display: flex;
height: 62px;
width: 205px;
background-color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex52 {
display: flex;
width: 160px;
height: auto;
padding-right: 4px;
}
.p-Home.Flex53 {
display: flex;
width: 19px;
height: auto;
}
.p-Home.Flex43 {
display: flex;
height: 24px;
width: 205px;
background-color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex45 {
display: flex;
width: 19px;
height: auto;
}
.p-Home.Flex46 {
display: flex;
width: 160px;
height: 24px;
padding-right: 4px;
}
.p-Home.Flex60 {
display: flex;
height: 24px;
width: 205px;
background-color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex58 {
display: flex;
width: 160px;
height: 24px;
padding-right: 4px;
}
.p-Home.Flex59 {
display: flex;
width: 19px;
height: auto;
}
.p-Home.Flex38 {
display: flex;
width: 55%;
height: 425px;
padding-top: 100px;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
width: 100%;
height: 100%;
}
.p-Home.Flex40 {
display: flex;
width: 303px;
height: auto;
justify-content: space-between;
}
.p-Home.Div23 {
width: 100%;
height: 1379px;
padding-top: 150px;
box-sizing: border-box;
}
.p-Home.Flex70 {
display: flex;
height: 100%;
width: 100%;
flex-direction: column;
align-items: center;
box-sizing: border-box;
background-color: ;
}
.p-Home.Flex71 {
display: flex;
width: 1065px;
height: 402px;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
margin-top: 20px;
}
.p-Home.Flex72 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Div24 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex74 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex73 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Flex77 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex76 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Div25 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex75 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex80 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex79 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Div26 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex78 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex83 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex82 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Div27 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex81 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex96 {
display: flex;
width: 1065px;
height: 402px;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
margin-top: 40px;
}
.p-Home.Flex92 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Div28 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex84 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex88 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Flex93 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Div29 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex85 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex89 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Flex94 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Div30 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex86 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex90 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Flex95 {
display: flex;
width: 250px;
height: 100%;
padding-top: 50px;
box-sizing: border-box;
margin-top: 0px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex91 {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 90%;
}
.p-Home.Div31 {
width: 100%;
height: 250px;
position: relative;
}
.p-Home.Flex87 {
display: flex;
width: 109px;
height: 41px;
position: absolute;
z-index: 1;
right: 15px;
top: 15px;
border-radius: 15px;
background-color: #fffbfb;
align-items: center;
justify-content: center;
}
.p-Home.Flex98 {
display: flex;
width: 318px;
height: auto;
justify-content: space-between;
margin-top: 40px;
}
.p-Home.Flex100 {
display: flex;
height: 862px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex101 {
display: flex;
width: 47%;
height: 100%;
padding-top: 90px;
padding-bottom: 100px;
padding-left: 150px;
align-items: center;
box-sizing: border-box;
justify-content: flex-end;
background-color: #FF7629;
}
.p-Home.Flex103 {
display: flex;
height: 306px;
width: 674px;
align-items: flex-start;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex105 {
display: flex;
align-items: center;
justify-content: space-between;
width: 300px;
height: 42px;
background-color: ;
border-color: #723636;
}
.p-Home.Flex102 {
display: flex;
height: 100%;
width: 53%;
}
.p-Home.Div33 {
width: 100%;
height: 855px;
padding-top: 150px;
padding-bottom: 150px;
box-sizing: border-box;
}
.p-Home.Flex106 {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}
.p-Home.Flex107 {
display: flex;
width: 717px;
height: 281px;
border-radius: 30px;
padding-top: 50px;
padding-right: 50px;
padding-left: 50px;
padding-bottom: 40px;
box-sizing: border-box;
border-width: 2px;
border-style: solid;
border-color: #D5D5D5;
position: relative;
}
.p-Home.Flex108 {
display: flex;
width: 100%;
height: 100%;
box-sizing: border-box;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex109 {
display: flex;
height: 30px;
width: 180px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex110 {
display: flex;
height: 60px;
width: 174px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex111 {
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 60px;
background-color: #FF7629;
border-radius: 100%;
position: absolute;
left: 765px;
top: 110px;
}
.p-Home.Flex113 {
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 60px;
background-color: #FF7629;
border-radius: 100%;
position: absolute;
top: 110px;
right: 765px;
}
.p-Home.Flex114 {
display: flex;
width: 318px;
height: auto;
justify-content: space-between;
margin-top: 40px;
}
.p-Home.Div36 {
height: 1037px;
box-sizing: border-box;
width: 100%;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 100px;
background-color: #FFF9F3;
}
.p-Home.Flex117 {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex116 {
display: flex;
height: 58px;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex118 {
display: flex;
align-items: center;
justify-content: space-between;
height: 699px;
width: 100%;
}
.p-Home.Flex119 {
display: flex;
width: 564px;
height: 100%;
align-items: center;
justify-content: space-between;
flex-direction: column;
background-color: #ffffff;
border-radius: 40px;
}
.p-Home.Div38 {
width: 100%;
height: 489px;
}
.p-Home.Flex120 {
display: flex;
width: 100%;
height: 200px;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex124 {
display: flex;
width: 647px;
height: 100%;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.p-Home.Flex128 {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 50%;
box-sizing: border-box;
}
.p-Home.Flex125 {
display: flex;
height: 334px;
width: 271px;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
background-color: #ffffff;
border-radius: 40px;
box-sizing: border-box;
padding-bottom: 25px;
}
.p-Home.Div42 {
height: 213px;
width: 100%;
border-radius: 40px;
}
.p-Home.Flex129 {
display: flex;
height: 334px;
width: 271px;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
background-color: #ffffff;
border-radius: 40px;
box-sizing: border-box;
padding-bottom: 25px;
}
.p-Home.Div45 {
height: 213px;
width: 100%;
border-radius: 40px;
}
.p-Home.Flex132 {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 50%;
box-sizing: border-box;
}
.p-Home.Flex130 {
display: flex;
height: 334px;
width: 271px;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
background-color: #ffffff;
border-radius: 40px;
box-sizing: border-box;
padding-bottom: 25px;
}
.p-Home.Div46 {
height: 213px;
width: 100%;
border-radius: 40px;
}
.p-Home.Flex131 {
display: flex;
height: 334px;
width: 271px;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
background-color: #ffffff;
border-radius: 40px;
box-sizing: border-box;
padding-bottom: 25px;
}
.p-Home.Div47 {
height: 213px;
width: 100%;
border-radius: 40px;
}
.p-Home.Flex133 {
display: flex;
height: 949px;
width: 100%;
padding-top: 0px;
padding-right: ;
padding-bottom: 0px;
padding-left: 0px;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}
.p-Home.Flex134 {
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: flex-end;
height: 100%;
width: 55%;
box-sizing: border-box;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 150px;
}
.p-Home.Flex136 {
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex137 {
display: flex;
align-items: flex-start;
height: 260px;
width: 333px;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex147 {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex144 {
display: flex;
height: 24px;
width: 205px;
background-color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex138 {
display: flex;
width: 19px;
height: auto;
}
.p-Home.Flex139 {
display: flex;
width: 160px;
height: 24px;
padding-right: 4px;
}
.p-Home.Flex145 {
display: flex;
height: 24px;
width: 205px;
background-color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex140 {
display: flex;
width: 160px;
height: 24px;
padding-right: 4px;
}
.p-Home.Flex141 {
display: flex;
width: 19px;
height: auto;
}
.p-Home.Flex146 {
display: flex;
height: 41px;
width: 280px;
background-color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex142 {
display: flex;
width: 19px;
height: auto;
}
.p-Home.Flex143 {
display: flex;
width: 240px;
height: auto;
padding-right: 4px;
}
.p-Home.Flex135 {
display: flex;
width: 45%;
height: 100%;
box-sizing: border-box;
background-color: #FF7629;
position: relative;
}
.p-Home.Flex148 {
display: flex;
width: 537px;
height: 749px;
background-color: #ffffff;
box-sizing: border-box;
flex-direction: column;
border-radius: 50px;
position: absolute;
right: 300px;
border-width: 2px;
border-style: solid;
border-color: #828282;
top: 100px;
padding-top: 80px;
padding-right: 40px;
padding-bottom: 30px;
padding-left: 40px;
}
.p-Home.Flex163 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
width: 100%;
height: 100%;
}
.p-Home.Flex159 {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.p-Home.Flex157 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 206px;
height: 83px;
}
.p-Home.Flex158 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 206px;
height: 83px;
}
.p-Home.Flex162 {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.p-Home.Flex155 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 206px;
height: 83px;
}
.p-Home.Flex156 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 206px;
height: 83px;
}
.p-Home.Flex166 {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.p-Home.Flex160 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 206px;
height: 83px;
}
.p-Home.Flex161 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 206px;
height: 83px;
}
.p-Home.Flex169 {
display: flex;
align-items: flex-start;
justify-content: space-between;
width: 100%;
height: 223px;
flex-direction: column;
}
.p-Home.Flex172 {
display: flex;
align-items: center;
justify-content: center;
height: 693px;
width: 100%;
padding-top: 150px;
padding-bottom: 150px;
padding-right: 100px;
padding-left: 100px;
box-sizing: border-box;
background-color: #FFF9F3;
}
.p-Home.Flex173 {
display: flex;
width: 100%;
height: 100%;
box-sizing: border-box;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex174 {
display: flex;
height: 83px;
width: 100%;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex175 {
display: flex;
width: 970px;
height: 310px;
align-items: center;
justify-content: space-between;
margin-top: 40px;
box-sizing: border-box;
}
.p-Home.Div49 {
width: 300px;
height: 300px;
}
.p-Home.Div50 {
width: 300px;
height: 300px;
}
.p-Home.Flex176 {
display: flex;
width: 300px;
height: 300px;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
}
.p-Home.Flex189 {
display: flex;
align-items: center;
justify-content: space-between;
height: 506px;
width: 100%;
padding-top: 100px;
padding-right: 150px;
padding-left: 150px;
box-sizing: border-box;
padding-bottom: 50px;
}
.p-Home.Flex190 {
display: flex;
align-items: flex-start;
justify-content: space-between;
width: 100%;
height: 100%;
}
.p-Home.Flex180 {
display: flex;
width: 400px;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex181 {
display: flex;
height: 30px;
width: 180px;
align-items: center;
justify-content: space-between;
margin-top: 20px;
}
.p-Home.Flex185 {
display: flex;
width: 310px;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex186 {
display: flex;
width: 300px;
height: 300px;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
}
.p-Home.Flex191 {
display: flex;
height: 100%;
width: 190px;
justify-content: space-between;
align-items: flex-start;
}
.p-Home.Flex183 {
display: flex;
width: 95px;
height: 100%;
flex-direction: column;
align-items: flex-start;
box-sizing: border-box;
color: #7F7C7C;
}
.p-Home.Flex184 {
display: flex;
width: 95px;
height: 100%;
flex-direction: column;
align-items: flex-start;
box-sizing: border-box;
color: #7F7C7C;
}
.p-Home.Div16 {
width: 480px;
height: %;
}
.p-Home.TextBox5 {
align-self: center;
font-size: ;
}
.p-Home.TextBox6 {
width: 50px;
height: auto;
font-size: ;
}
.p-Home.TextBox8 {
align-self: center;
font-size: ;
width: 50px;
height: auto;
}
.p-Home.TextBox9 {
align-self: center;
font-size: ;
width: 50px;
height: auto;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox7 {
align-self: center;
font-size: ;
width: 50px;
height: auto;
}
.p-Home.Image7 {
width: 100%;
height: 100%;
}
.p-Home.Button2 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 142px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button3 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: none;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 124px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.TextBox12 {
font-size: 18px;
color: #757575;
margin-top: 20px;
width: 489px;
line-height: 23px;
}
.p-Home.TextBox10 {
font-size: 50px;
height: 64px;
color: #FF7629;
}
.p-Home.TextBox11 {
font-size: 50px;
height: 64px;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 142px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button7 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: none;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 124px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
margin-top: 2px;
}
.p-Home.Image9 {
width: 100%;
height: 100%;
border-radius: 15px;
}
.p-Home.TextBox14 {
font-size: 21px;
}
.p-Home.Image10 {
width: 200px;
height: 100%;
}
.p-Home.Image11 {
width: 200px;
height: 100%;
}
.p-Home.Image12 {
width: 80px;
height: 100%;
}
.p-Home.Image13 {
width: 122px;
height: 100%;
}
.p-Home.TextBox15 {
font-size: 25px;
}
.p-Home.Image14 {
;
}
.p-Home.TextBox16 {
font-size: 20px;
}
.p-Home.TextBox17 {
font-size: 17px;
color: #676767;
line-height: 22px;
}
.p-Home.Link1 {
font-size: 17px;
color: #FF7629;
}
.p-Home.Link2 {
font-size: 17px;
color: #FF7629;
}
.p-Home.TextBox19 {
font-size: 20px;
}
.p-Home.Image15 {
;
}
.p-Home.TextBox31 {
font-size: 17px;
color: #676767;
line-height: 22px;
}
.p-Home.Image18 {
;
}
.p-Home.TextBox24 {
font-size: 20px;
}
.p-Home.Link5 {
font-size: 17px;
color: #FF7629;
}
.p-Home.TextBox32 {
font-size: 17px;
color: #676767;
line-height: 22px;
}
.p-Home.Image19 {
;
}
.p-Home.TextBox26 {
font-size: 20px;
}
.p-Home.Link6 {
font-size: 17px;
color: #FF7629;
}
.p-Home.TextBox33 {
font-size: 17px;
color: #676767;
line-height: 22px;
}
.p-Home.Button8 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
width: 142px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 145px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Image21 {
width: 100%;
height: 100%;
border-radius: 25px;
}
.p-Home.TextBox34 {
font-size: 20px;
}
.p-Home.TextBox42 {
color: #8D8D8D;
}
.p-Home.Image25 {
width: 100%;
height: auto;
}
.p-Home.Image26 {
;
}
.p-Home.TextBox43 {
color: #8d8d8d;
}
.p-Home.TextBox45 {
color: #8d8d8d;
}
.p-Home.Image28 {
;
}
.p-Home.TextBox29 {
width: 459px;
height: 62px;
color: #8D8D8D;
line-height: 22px;
}
.p-Home.TextBox30 {
width: 449px;
height: 109px;
color: #8D8D8D;
line-height: 22px;
}
.p-Home.Button12 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
width: 153px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button13 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 120px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.TextBox28 {
font-size: 32px;
}
.p-Home.TextBox49 {
margin-top: 20px;
width: 670px;
line-height: 22px;
color: #727272;
}
.p-Home.TextBox50 {
font-size: 24px;
}
.p-Home.Image32 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox52 {
;
}
.p-Home.TextBox51 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.TextBox55 {
font-size: 24px;
}
.p-Home.TextBox54 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.Image33 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox53 {
;
}
.p-Home.TextBox58 {
font-size: 24px;
}
.p-Home.TextBox57 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.Image34 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox56 {
;
}
.p-Home.TextBox61 {
font-size: 24px;
}
.p-Home.TextBox60 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.Image35 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox59 {
;
}
.p-Home.TextBox70 {
font-size: 24px;
}
.p-Home.Image36 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox62 {
;
}
.p-Home.TextBox66 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.TextBox71 {
font-size: 24px;
}
.p-Home.Image37 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox63 {
;
}
.p-Home.TextBox67 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.TextBox72 {
font-size: 24px;
}
.p-Home.Image38 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox64 {
;
}
.p-Home.TextBox68 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.TextBox73 {
font-size: 24px;
}
.p-Home.TextBox69 {
padding-right: 10px;
padding-left: 10px;
color: #686868;
line-height: 22px;
}
.p-Home.Image39 {
width: 100%;
height: 100%;
border-radius: 30px;
}
.p-Home.TextBox65 {
;
}
.p-Home.Button14 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 145px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button15 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
width: 142px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.TextBox75 {
width: 360px;
height: auto;
font-size: 38px;
background-color: ;
color: #ffffff;
line-height: 48px;
}
.p-Home.TextBox76 {
color: #ffffff;
line-height: 22px;
width: 360px;
}
.p-Home.Button16 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
width: 124px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button17 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
width: 142px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Image40 {
width: 100%;
height: 100%;
}
.p-Home.TextBox77 {
;
}
.p-Home.TextBox79 {
font-size: 32px;
}
.p-Home.TextBox80 {
margin-top: 20px;
width: 670px;
line-height: 22px;
color: #727272;
}
.p-Home.TextBox82 {
font-size: 24px;
}
.p-Home.TextBox83 {
padding-right: ;
color: #716F6F;
font-size: 14px;
width: 500px;
line-height: 18px;
}
.p-Home.Image42 {
width: 30px;
height: 30px;
}
.p-Home.Image43 {
width: 30px;
height: 30px;
}
.p-Home.Image44 {
width: 30px;
height: 30px;
}
.p-Home.Image45 {
width: 30px;
height: 30px;
}
.p-Home.Image46 {
width: 30px;
height: 30px;
}
.p-Home.Image41 {
width: 50px;
height: 50px;
border-radius: 100%;
}
.p-Home.TextBox84 {
width: 104px;
height: 42px;
}
.p-Home.Image47 {
position: static;
width: 90%;
}
.p-Home.Image50 {
position: static;
width: 90%;
}
.p-Home.Button18 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
width: 142px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.Button19 {
color: #000000;
background-color: #ffffff;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
width: auto;
box-sizing: border-box;
height: 100%;
word-wrap: normal;
}
.p-Home.TextBox85 {
font-size: 32px;
}
.p-Home.Image51 {
width: 100%;
height: 100%;
border-radius: ;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}
.p-Home.TextBox86 {
height: 40px;
padding-top: 20px;
padding-left: 20px;
box-sizing: border-box;
font-size: 15px;
color: #737373;
}
.p-Home.TextBox87 {
padding-right: 140px;
padding-left: 20px;
font-size: 26px;
}
.p-Home.TextBox88 {
padding-right: 70px;
padding-bottom: 30px;
padding-left: 20px;
}
.p-Home.TextBox95 {
padding-right: 10px;
padding-left: 20px;
font-size: 17px;
box-sizing: border-box;
}
.p-Home.TextBox96 {
height: 40px;
padding-top: 20px;
padding-left: 20px;
box-sizing: border-box;
font-size: 15px;
color: #737373;
}
.p-Home.Image55 {
width: 100%;
height: 100%;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}
.p-Home.TextBox101 {
height: 40px;
padding-top: 20px;
padding-left: 20px;
box-sizing: border-box;
font-size: 15px;
color: #737373;
}
.p-Home.TextBox102 {
padding-right: 10px;
padding-left: 20px;
font-size: 17px;
box-sizing: border-box;
}
.p-Home.Image58 {
width: 100%;
height: 100%;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}
.p-Home.TextBox103 {
padding-right: 10px;
padding-left: 20px;
font-size: 17px;
box-sizing: border-box;
}
.p-Home.TextBox104 {
height: 40px;
padding-top: 20px;
padding-left: 20px;
box-sizing: border-box;
font-size: 15px;
color: #737373;
}
.p-Home.Image59 {
width: 100%;
height: 100%;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}
.p-Home.TextBox105 {
height: 40px;
padding-top: 20px;
padding-left: 20px;
box-sizing: border-box;
font-size: 15px;
color: #737373;
}
.p-Home.TextBox106 {
padding-right: 10px;
padding-left: 20px;
font-size: 17px;
box-sizing: border-box;
}
.p-Home.Image60 {
width: 100%;
height: 100%;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}
.p-Home.TextBox107 {
font-size: 34px;
}
.p-Home.TextBox108 {
line-height: 22px;
color: #727188;
width: 280px;
}
.p-Home.Image61 {
;
}
.p-Home.TextBox109 {
color: #8d8d8d;
}
.p-Home.TextBox110 {
color: #8d8d8d;
}
.p-Home.Image62 {
;
}
.p-Home.Image63 {
width: 100%;
height: auto;
}
.p-Home.TextBox114 {
color: #8d8d8d;
}
.p-Home.Button20 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: 172px;
box-sizing: border-box;
height: 42px;
word-wrap: normal;
}
.p-Home.TextBox117 {
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #7b7878;
border-radius: 50px;
width: 100%;
height: 40px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #7b7878;
border-radius: 50px;
width: 100%;
height: 40px;
}
.p-Home.TextBox118 {
font-size: 18px;
}
.p-Home.TextBox115 {
font-size: 18px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #7b7878;
border-radius: 50px;
width: 100%;
height: 40px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #7b7878;
border-radius: 50px;
width: 100%;
height: 40px;
}
.p-Home.TextBox116 {
font-size: 18px;
}
.p-Home.TextBox119 {
font-size: 18px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #7b7878;
border-radius: 50px;
width: 100%;
height: 40px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #7b7878;
border-radius: 50px;
width: 100%;
height: 40px;
}
.p-Home.TextBox120 {
font-size: 18px;
}
.p-Home.TextBox130 {
font-size: 18px;
}
.p-Home.Input11 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 30px;
height: 180px;
width: 100%;
align-self: center;
float: none;
}
.p-Home.TextBox131 {
font-size: 32px;
}
.p-Home.Button22 {
color: #ffffff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 25px;
padding-bottom: 15px;
padding-right: 25px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #CCCCCC;
cursor: pointer;
user-select: none;
width: auto;
box-sizing: border-box;
height: 53px;
word-wrap: normal;
}
.p-Home.Image64 {
width: 100%;
height: 100%;
border-radius: 25px;
}
.p-Home.Image68 {
width: 100%;
height: 100%;
border-radius: 25px;
}
.p-Home.Image70 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image71 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image72 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image73 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image74 {
width: 244px;
height: 33px;
}
.p-Home.TextBox132 {
margin-top: 20px;
line-height: 22px;
color: #6A6868;
box-sizing: border-box;
}
.p-Home.Image75 {
width: 30px;
height: 30px;
}
.p-Home.Image76 {
width: 30px;
height: 30px;
}
.p-Home.Image77 {
width: 30px;
height: 30px;
}
.p-Home.Image78 {
width: 30px;
height: 30px;
}
.p-Home.Image79 {
width: 30px;
height: 30px;
}
.p-Home.TextBox157 {
font-size: 20px;
}
.p-Home.Image80 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image81 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image82 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.Image83 {
width: 145px;
height: 145px;
box-sizing: border-box;
border-radius: 20px;
}
.p-Home.TextBox135 {
padding-right: 40px;
padding-bottom: 20px;
color: #000000;
font-size: 20px;
}
.p-Home.TextBox139 {
margin-top: 15px;
}
.p-Home.TextBox143 {
margin-top: 15px;
}
.p-Home.TextBox144 {
margin-top: 15px;
}
.p-Home.TextBox145 {
margin-top: 15px;
}
.p-Home.TextBox146 {
margin-top: 15px;
}
.p-Home.TextBox147 {
margin-top: 15px;
}
.p-Home.TextBox148 {
margin-top: 15px;
}
.p-Home.TextBox149 {
margin-top: 15px;
}
.p-Home.TextBox150 {
margin-top: 15px;
}
.p-Home.TextBox151 {
margin-top: 15px;
}
.p-Home.TextBox152 {
margin-top: 15px;
}
.p-Home.TextBox153 {
margin-top: 15px;
}
.p-Home.TextBox154 {
margin-top: 15px;
}
.p-Home.TextBox155 {
margin-top: 15px;
}
.p-Home.TextBox156 {
padding-right: 40px;
padding-bottom: 20px;
color: #000000;
font-size: 20px;
}
